header {
            position: relative;
        }
        .shopping-mall{
            position: absolute;
            bottom: 20px;
            font-variant: small-caps;
        }

        .shopping-mall>h1{
            font-family: Impact;
            font-size: 50px;
            color: white;
            letter-spacing: 0.3px;
            text-shadow: 0 0 2px black;
            padding-bottom: 0px;
            border-bottom: 1px dotted gray;
            margin: 0px;
        }
        .shopping-mall>h5{
            margin-top: 5px;
            letter-spacing: 0.5px;
        }
        .poly-cart{
            margin-top: 5px;
        }

        .poly-cart ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            font-variant: small-caps;
        }

        .poly-cart .panel-heading strong {
            font-variant: small-caps;
            font-size: larger;
            text-shadow: 0 0 2px darkgray;
           
            
        }

        .poly-prod{
            text-align:center;
            padding:7px;
           
           
           
            border-radius: 0px;
        }

        .poly-prod .panel-body img{
            height: 150px;
            max-width: 95%;
            background-color: black;
            width: 200px;
            height: 200px;
            background-color: red;
            animation-name: example;
            animation-duration: 1s;
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            
        }

         .backgruond{
            background-image: url("../BackGruond/bgrlogin.jpg");
            background-repeat: repeat;
            background-size: 150%;
           


         }
         @keyframes example {
            0%   {background-color: red;}
            25%  {background-color: yellow;}
            50%  {background-color: blue;}
            100% {background-color: green;}
          }
    .coloboder{
    background-color: cadetblue;
}
.panelpaneldefault{

    background-color: brown;
    border-radius: 1px;


}
.coloheader{
    background-color: brown;
}
    .icon{
    
      height: 228px;
    }
    
    .icon img{
    width: 400px;
    height: 400px;
    filter: grayscale(.4);
    transition: .3s;
    text-align: center;
    }
    
    .icon img:hover{
    filter: grayscale(0);
    transform: scale(1.3) rotate(7deg);
    }
    .colomdinh{
       
    }

       
    .panel_title{
        background-color: brown;
        border-radius: 10px;
        height: 50px;
        

    }
   
    .boderxem{
        border-style: solid;
    }
    
    img.center {  display: block;  margin-left: auto;  margin-right: auto;  width: 80%;}


    .headercart{
        width: 100px;
        text-align: center;
        position: relative;
    }

    .icon image{
        width: 100%;
        margin-bottom: 20px;
        
    }

    .panel-footer button{
        margin-top: 20px;
        height: 30px;
        padding: 0 12px;
    }

     .panel-footer {
        font-variant: small-caps;
        font-size: larger;
        text-shadow: 0 0 2px darkgray;
        
        
    }
    .fontsizeproduct{
        color: white;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        align-content: center;
        height: 100px;

    }

    .textcentent{
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: white;
    }
    .Colocentent{
        background-color: brown;
    }
    .fontsp{
        font-size: 20px;
    }
    .bodervien{
        border: 1px solid #b1154a;
        
        background-color: azure;
        font-size: 30px;
    }
    .rightfacebook{
       
        position: fixed;
        display: flex;
        align-content: center;	
        right: 50px;
    }
    .dark-mode {
        background-color: black;
        color: white;
      }